#today {
    height: 18vh; 
    padding: 0 4.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3vh; 
}

#today h1 {
    font-size: 6vh;
    margin: 0;
}

#today h2, #today h3 {
    margin: 0; 
}

#today .cur {
    display: flex;
    justify-content: center;
    gap: 1.2vw; 
}

#today .cur h2 {
   font-size: 4.5vh;
}

#today .cur h3 {
    font-size: 3vh;
 }