#today {
    height: 12vh; 
    padding: 0 4.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1vh; 
}

#today h1 {
    font-size: 6vh;
    margin: 0;
    margin-top: 1vh;
}

#today h3 {
    margin: 0; 
}

#today .cur {
    display: flex;
    justify-content: center;
    gap: 1.2vw; 
}

#today .cur h3 {
   font-size: 3.8vh;
}